header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;  
  background-image: url('../../../../epicbeats-front/src/assets/img/backgroundHeader.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.shadow__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(255, 0, 0); /* Rouge néon fluo */
  box-shadow: 0 0 25px rgb(255, 0, 0);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(255, 0, 0),
              0 0 25px rgb(255, 0, 0),
              0 0 50px rgb(255, 0, 0),
              0 0 100px rgb(255, 0, 0);
}

